
<footer id="footer">
   
        <div class="row container-fluid footer">
          <div class="col-lg-4" style="color:white;">
            <h1> Contact Us</h1>
            <i class="fas fa-building"></i>
            <p>500 Terry Francois Street
                San Francisco, CA 94158</p>
                <i class="fas fa-envelope"></i>
                <p>info@mysite.com</p>
                    <i class="fas fa-mobile"></i>
                    <p>123-456-7890</p>
          </div>
          <div class="col-lg-4">
           <!-- Default form subscription -->
<form class="text-center" action="#!" style="color: white; padding-top: 15%;">
    <!-- <form class="text-center border border-dark p-5" action="#!" style="color: white;"> -->


    <p class="h4 mb-4">Subscribe</p>

    <p>Join our mailing list. We write rarely, but only the best content.</p>

    <p>
        <!-- <a href="" target="_blank">See the last newsletter</a> -->
    </p>

    <!-- Name -->
    <input type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Name">

    <!-- Email -->
    <input type="email" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="E-mail">

    <!-- Sign in button -->
    <button class="btn btn-block" style="background-color: rgb(250, 149, 149);" type="submit">Sign in</button>


</form>
<!-- Default form subscription -->
          </div>
          <div class="col-lg-4" style="color: white; padding-top: 3%;">
            <ul style="margin-left: 0%; margin-top: 7%; text-align: center; font-size: 200%; font-family: 'Nerko One', cursive; list-style: none;">
                <li ><a style="color: white;" class="nav-link" href="#footer">Contact</a></li>
                <li ><a style="color: white;" class="nav-link" href="photos">Photos</a></li>
                <li ><a style="color: white;" class="nav-link" href="shop">Shop</a></li>
                <li ><a style="color: white;" class="nav-link" href="#">About US</a></li>
              <li><a class="btn btn-light" type="button" href="tel:9410882227">CAll NOW</a></li>
            </ul>
          </div>
   
      </div>
    </footer>
</section>
</body>
</html>