<%- include("partials/oheader"); -%>

<h1 class="about-header">ABOUT US</h1>
    <i class="fas fa-book-open"></i>
    <i class="fas fa-pen-alt"></i>
    <i class="fas fa-address-card"></i>
    <div class="container-fluid about-p">
        <p>
            Here we provide you the best quality and complimentary written documents including categories that are-Fiction, Arts, Technology, Academic & Education ,Biography, short stories ,etc. Before publishing written documents we verified it by checking the documents
            as per the rules that we made. We will verify it by a mail and it will be posted on the Document page. Here we hope that we will satisfy you by our services on websites and you will get a good knowledge from our provided documents. Here the
            main focus of our website is to get attention of viewers on our new writers this can be used by teachers for their students , hidden talents of students who want to write , a writer for getting more views , etc. We are working on the payable
            criteria for writers . We are not providing nos as it is friendly website after we make a implementation on payment purpose we will provide you this feasibility. You can trust our website with your information. We hope our readers can help
            us to make iat the best to all.
        </p>

        <h2>HAPPY READING! <br>HAPPY WRITING! <br>THANK YOU.</h2>
    </div>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Major+Mono+Display&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
        .about-header {
            font-family: 'Major Mono Display', monospace;
            margin-top: 10%;
            position: absolute;
            margin-left: 44%;
        }
        
        i {
            font-size: 700%;
            margin-top: 17%;
            margin-left: 20%;
        }
        
        .about-p {
            height: 50%;
            width: 60%;
            margin-top: 20%;
            font-size: 160%;
            /* font-family: 'Indie Flower', cursive; */
            font-family: 'Satisfy', cursive;
        }
        
        h2 {
            /* font-family: 'Satisfy', cursive; */
            font-family: 'Indie Flower', cursive;
            margin-left: 38%;
            margin-top: 5%;
        }
    </style>

<%- include("partials/footer"); -%>