<%- include("partials/header"); -%>
<section>
    <div class="row">
    <div class="col-lg-6" style="text-align: center;">
        <img src="/images/home1.jpg" alt="" width="900" height="500">
</div>
<div class="col-lg-6" style="padding-top: 2%; background-color: rgb(61, 39, 39);">
    <h1 style="text-align: center; font-size: 450%;">Our Services</h1>
    
        <ul style="margin-left: 0%; margin-top: 7%; text-align: center; font-size: 200%; font-family: 'Nerko One', cursive;">
            <li>pottery remoddling</li>
            <li>good services</li>
            <li>best employee</li>
            <li>better team work</li>
        </ul>
    
</div>

<div class="col-lg-3">
    <img src="/images/pot.png" alt="pot" width="200" height="200">
    
    <h2>Vast
        Experience</h2>
</div>
<div class="col-lg-3">
    <i class="fas fa-users" style="color: black; width: 62%; height: 62%;"></i>
    <h2>Professional
        Team</h2>
</div>
<div class="col-lg-3">
    <i class="fas fa-thumbs-up" style="color: black; width: 50%; height: 50%;"></i>
    <br>
    <h2 style="margin-top: 8%;">High
        Finish</h2>
</div>
<div class="col-lg-3">
    <i class="fas fa-university" style="color: black; width: 50%; height: 50%;"></i>
    <h2 style="margin-top: 8%;">Sustainable
        & Accountable</h2>
</div>
<div class="col-lg-6" style="padding-top: 2%; background-color: rgb(61, 39, 39);">
    <h1 style="text-align: center; font-size: 450%;">About Us</h1>
    
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    
    </div>
<div class="col-lg-6" style="text-align: center;">
    <img src="/images/home2.jpg" alt="" width="900" height="700">
</div>

<div class="col-lg-3" style="padding: 1%;">
<h1>Testimonials</h1>
</div>
<div class="col-lg-3" style="padding: 1%;">
    <img src="https://pbs.twimg.com/profile_images/1084774779125547013/YbQQCvV9_400x400.jpg" width="300" height="250" style="border-radius: 5px;">
    <br><br>
    <h2>Yogi Adityanath</h2>
    <p>Hon'ble Chief Minister, Uttar Pradesh</p>
</div>
<div class="col-lg-3" style="padding: 1%;">
    <img src="http://odopup.in/site/writereaddata/siteContent/201908231103510121Sidharth-Nath-Singh.jpg" width="300" height="250" style="border-radius: 5px;">
    <h2>Shri Sidharth Nath Singh</h2>
    <p>Hon’ble Cabinet Minister of Khadi, Village Industries, Sericulture, Textile, Micro, Small & Medium Enterprises and Export Promotion, Uttar Pradesh</p>
</div>
<div class="col-lg-3" style="padding: 1%;">
    <img src="http://odopup.in/site/writereaddata/siteContent/201910211642073687shri-chaudhary-ji.jpg" width="300" height="250" style="border-radius: 5px;">
    <h2>Chaudhary Udaybhan Singh</h2>
    <p>Hon'ble State Minister of Khadi, Village Industries, Sericulture, Textile, Micro, Small & Medium Enterprises and Export Promotion, Uttar Pradesh</p>
</div>
</div>
    </section>

<%- include("partials/footer"); -%>